In [15]:
import pandas as pd  
import numpy as np

!pip install -q reverse_geocoder
!pip install -q geopy

import reverse_geocoder as rg
from geopy.distance import geodesic

print("Cs210 Individual Project")
print("Yalman Türkeli")
print("19332")

Yalman Türkeli
19332

In [16]:
df = pd.read_csv('taxi-trips.csv')

In [31]:
print("1) Give basic information regarding the dataset such as shape, data types and descriptive statistics")
print("   that summarize columns.")
print (" ")
print("Data shapes:")
print("Shown as (rows,columns)")

df.shape

1) Give basic information regarding the dataset such as shape, data types and descriptive statistics
   that summarize columns.

Data shapes:
Shown as (rows,columns)

(118185, 16)

In [32]:
print("Data types:")
print("Below we can see the objects, integers and float variables.")

df.dtypes

Data types:
Below we can see the objects, integers and float variables.

id                     object
vendor_id               int64
pickup_datetime        object
dropoff_datetime       object
passenger_count         int64
pickup_longitude      float64
pickup_latitude       float64
dropoff_longitude     float64
dropoff_latitude      float64
store_and_fwd_flag     object
trip_duration           int64
pickup_district        object
dropoff_district       object
distance              float64
time_of_day            object
day                    object
dtype: object

In [19]:
print("Descriptive statistics:")
print("There are not has some statics since their type is object.")

df.describe(include='all')

Descriptive statistics:
There are not has some statics since their type is object.

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
count,118185,118185.000000,118185,118185,118185.000000,118185.000000,118185.000000,118185.000000,118185.000000,118185,118185.000000
unique,118185,NaN,111384,111342,NaN,NaN,NaN,NaN,NaN,2,NaN
top,id1602732,NaN,2016-03-04 08:07:34,2016-03-03 20:20:32,NaN,NaN,NaN,NaN,NaN,N,NaN
freq,1,NaN,5,4,NaN,NaN,NaN,NaN,NaN,117634,NaN
mean,NaN,1.534958,NaN,NaN,1.657148,-73.973971,40.751392,-73.973538,40.752212,NaN,927.186310
std,NaN,0.498779,NaN,NaN,1.313844,0.040456,0.027958,0.039192,0.032284,NaN,3118.710246
min,NaN,1.000000,NaN,NaN,0.000000,-79.487900,40.225803,-79.487900,40.225800,NaN,1.000000
25%,NaN,1.000000,NaN,NaN,1.000000,-73.991875,40.737835,-73.991394,40.736462,NaN,393.000000
50%,NaN,2.000000,NaN,NaN,1.000000,-73.981796,40.754501,-73.979759,40.754848,NaN,652.000000
75%,NaN,2.000000,NaN,NaN,2.000000,-73.967575,40.768471,-73.962990,40.770077,NaN,1048.000000
max,NaN,2.000000,NaN,NaN,6.000000,-73.425018,41.292198,-73.055977,41.292198,NaN,86366.000000

In [33]:
print("2) Create two new columns named ”pickup district” and ”dropoff district” by applying ")
print("   reverse geocoding to associated coordinates.")
print(" ")
print("Pickup District:")

lst = [] 

for i, entry in df.iterrows():
  longitude = entry["pickup_longitude"]
  latitude = entry["pickup_latitude"]
  coord = latitude, longitude
  lst.append(coord)


results = rg.search(lst)

dist=[]
for j in range(len(results)):
  dist.append(results[j]['name']+", " +results[j]['admin1'])

  
df["pickup_district"]=dist

df.head()

2) Create two new columns named ”pickup district” and ”dropoff district” by applying
   reverse geocoding to associated coordinates.

Pickup District:

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,pickup_district,dropoff_district,distance,time_of_day,day
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,"Manhattan, New York","Manhattan, New York",9360.508746,rush hour evening,Monday
1,id0012891,2,2016-03-10 21:45:01,2016-03-10 22:05:26,1,-73.981049,40.744339,-73.973000,40.789989,N,1225,"Long Island City, New York","Manhattan, New York",9358.537508,evening,Thursday
2,id3361153,1,2016-03-11 07:11:23,2016-03-11 07:20:09,1,-73.994560,40.750526,-73.978500,40.756191,N,526,"Weehawken, New Jersey","Manhattan, New York",9359.137888,rush hour morning,Friday
3,id2129090,1,2016-03-14 14:05:39,2016-03-14 14:28:05,1,-73.975090,40.758766,-73.953201,40.765068,N,1346,"Manhattan, New York","Long Island City, New York",9359.700598,afternoon,Monday
4,id0256505,1,2016-03-14 15:04:38,2016-03-14 15:16:13,1,-73.994484,40.745087,-73.998993,40.722710,N,695,"New York City, New York","New York City, New York",9358.684650,afternoon,Monday

In [21]:
print("Dropoff District:")

lst2 = [] 

for i, entry in df.iterrows():
  longitude2 = entry["dropoff_longitude"]
  latitude2 = entry["dropoff_latitude"]
  coord2 = latitude2, longitude2
  lst2.append(coord2)


results2 = rg.search(lst2)

dist2=[]
for j in range(len(results2)):
  dist2.append(results2[j]['name']+", " +results2[j]['admin1'])

  
df["dropoff_district"]=dist2

df.head()

Dropoff District:

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,pickup_district,dropoff_district
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,"Manhattan, New York","Manhattan, New York"
1,id0012891,2,2016-03-10 21:45:01,2016-03-10 22:05:26,1,-73.981049,40.744339,-73.973000,40.789989,N,1225,"Long Island City, New York","Manhattan, New York"
2,id3361153,1,2016-03-11 07:11:23,2016-03-11 07:20:09,1,-73.994560,40.750526,-73.978500,40.756191,N,526,"Weehawken, New Jersey","Manhattan, New York"
3,id2129090,1,2016-03-14 14:05:39,2016-03-14 14:28:05,1,-73.975090,40.758766,-73.953201,40.765068,N,1346,"Manhattan, New York","Long Island City, New York"
4,id0256505,1,2016-03-14 15:04:38,2016-03-14 15:16:13,1,-73.994484,40.745087,-73.998993,40.722710,N,695,"New York City, New York","New York City, New York"

In [35]:
print("3) Extract the top 5 districts where passengers prefer to leave and arrive.")
print(" ")
print("For leave:")

tops = df.groupby("pickup_district").count().sort_values(by='id', ascending=False)

tops.head(5)

3) Extract the top 5 districts where passengers prefer to leave and arrive.

For leave:

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,dropoff_district,distance,time_of_day,day
pickup_district,,,,,,,,,,,,,,,
"Manhattan, New York",45329,45329,45329,45329,45329,45329,45329,45329,45329,45329,45329,45329,45329,45329,45329
"New York City, New York",34625,34625,34625,34625,34625,34625,34625,34625,34625,34625,34625,34625,34625,34625,34625
"Long Island City, New York",17787,17787,17787,17787,17787,17787,17787,17787,17787,17787,17787,17787,17787,17787,17787
"Weehawken, New Jersey",11334,11334,11334,11334,11334,11334,11334,11334,11334,11334,11334,11334,11334,11334,11334
"The Bronx, New York",2777,2777,2777,2777,2777,2777,2777,2777,2777,2777,2777,2777,2777,2777,2777

In [36]:
print("For arrive:")

tops = df.groupby("dropoff_district").count().sort_values(by='id', ascending=False)

tops.head(5)

For arrive:

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,pickup_district,distance,time_of_day,day
dropoff_district,,,,,,,,,,,,,,,
"Manhattan, New York",44478,44478,44478,44478,44478,44478,44478,44478,44478,44478,44478,44478,44478,44478,44478
"New York City, New York",31082,31082,31082,31082,31082,31082,31082,31082,31082,31082,31082,31082,31082,31082,31082
"Long Island City, New York",19919,19919,19919,19919,19919,19919,19919,19919,19919,19919,19919,19919,19919,19919,19919
"Weehawken, New Jersey",10621,10621,10621,10621,10621,10621,10621,10621,10621,10621,10621,10621,10621,10621,10621
"Brooklyn, New York",2059,2059,2059,2059,2059,2059,2059,2059,2059,2059,2059,2059,2059,2059,2059

In [37]:
print("4) Create a new column named ”distance” by utilizing pick up and drop off coordinates. ")

coordinates = [] 
coordinates2=[]
lstc=[]
for i,entry in df.iterrows():
  longitude=entry["pickup_longitude"]
  latitude=entry["pickup_latitude"]
  coord= latitude, longitude
  coordinates.append(coord)
  longitude2= entry["pickup_longitude"]
  latitude2=entry["pickup_latitude"]
  coord2= longitude2,  latitude2 
  coordinates2.append(coord2)

for x in range(len(coordinates2)):
  lstc.append(geodesic(coordinates[x], coordinates2[x]).miles)
  

df["distance"]=lstc

df.head()

4) Create a new column named ”distance” by utilizing pick up and drop off coordinates.

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,pickup_district,dropoff_district,distance,time_of_day,day
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,"Manhattan, New York","Manhattan, New York",9360.508746,rush hour evening,Monday
1,id0012891,2,2016-03-10 21:45:01,2016-03-10 22:05:26,1,-73.981049,40.744339,-73.973000,40.789989,N,1225,"Long Island City, New York","Manhattan, New York",9358.537508,evening,Thursday
2,id3361153,1,2016-03-11 07:11:23,2016-03-11 07:20:09,1,-73.994560,40.750526,-73.978500,40.756191,N,526,"Weehawken, New Jersey","Manhattan, New York",9359.137888,rush hour morning,Friday
3,id2129090,1,2016-03-14 14:05:39,2016-03-14 14:28:05,1,-73.975090,40.758766,-73.953201,40.765068,N,1346,"Manhattan, New York","Long Island City, New York",9359.700598,afternoon,Monday
4,id0256505,1,2016-03-14 15:04:38,2016-03-14 15:16:13,1,-73.994484,40.745087,-73.998993,40.722710,N,695,"New York City, New York","New York City, New York",9358.684650,afternoon,Monday

In [38]:
print("5) Create a new column named ”time of day” by aggregating timestamps in ”pickup datetime”")
print("   into 5 different categories.")

time_day=[]

for i,entry in df.iterrows():
  time= entry["pickup_datetime"]
  t= int(time[11:13])
  if t>=7 and t<9:
    time_day.append("rush hour morning") 
  elif t>=9 and t<16:
    time_day.append("afternoon")
  elif t>=16 and t<18:
    time_day.append("rush hour evening")
  elif t>=18 and t<23:
    time_day.append("evening")  
  elif t>=23 or t<7:
    time_day.append("late night")  
  
  

df["time_of_day"]= time_day
df.head()

5) Create a new column named ”time of day” by aggregating timestamps in ”pickup datetime”
   into 5 different categories.

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,pickup_district,dropoff_district,distance,time_of_day,day
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,"Manhattan, New York","Manhattan, New York",9360.508746,rush hour evening,Monday
1,id0012891,2,2016-03-10 21:45:01,2016-03-10 22:05:26,1,-73.981049,40.744339,-73.973000,40.789989,N,1225,"Long Island City, New York","Manhattan, New York",9358.537508,evening,Thursday
2,id3361153,1,2016-03-11 07:11:23,2016-03-11 07:20:09,1,-73.994560,40.750526,-73.978500,40.756191,N,526,"Weehawken, New Jersey","Manhattan, New York",9359.137888,rush hour morning,Friday
3,id2129090,1,2016-03-14 14:05:39,2016-03-14 14:28:05,1,-73.975090,40.758766,-73.953201,40.765068,N,1346,"Manhattan, New York","Long Island City, New York",9359.700598,afternoon,Monday
4,id0256505,1,2016-03-14 15:04:38,2016-03-14 15:16:13,1,-73.994484,40.745087,-73.998993,40.722710,N,695,"New York City, New York","New York City, New York",9358.684650,afternoon,Monday

In [45]:
print("6) Show how the average distance varies as time of the day changes.")
print("Average distance has not changes much related to time of days so it does not affect it.")
print(" ")
print("7) Show how the trip duration varies as time of the day changes.")
print("In the trip durtion, evening and late nigth is smallest but rush hours evening hightest.")


df.groupby(by="time_of_day").mean()

6) Show how the average distance varies as time of the day changes.
Average distance has not changes much related to time of days so it does not affect it.

7) Show how the trip duration varies as time of the day changes.
In the trip durtion, evening and late nigth is smallest but rush hours evening hightest.

,vendor_id,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration,distance
time_of_day,,,,,,,,
afternoon,1.530741,1.653854,-73.973136,40.754428,-73.975063,40.753873,963.922746,9359.324643
evening,1.539865,1.672160,-73.974560,40.750093,-73.975109,40.751933,893.595329,9358.972403
late night,1.531540,1.683482,-73.977087,40.744962,-73.968131,40.747464,866.095457,9358.558911
rush hour evening,1.537271,1.649862,-73.970534,40.753545,-73.973454,40.754687,1024.494552,9359.233685
rush hour morning,1.539076,1.570415,-73.972501,40.755194,-73.973679,40.753925,918.488716,9359.384534

In [47]:
print("Hypothesis Testing")
print(" ")
print("8) Does passenger group size affect the distance?")
print("In the information below the distance relatied to the passenger count shown and")
print("there are not much changes in distance so that it does not affects.")
print("It only affects the trip duration.")

df.groupby(by="passenger_count").mean()

Hypothesis Testing

8) Does passenger group size affect the distance?
In the information below the distance relatied to the passenger count shown and
there are not much changes in distance so that it does not affects.
It only affects the trip duration.

,vendor_id,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration,distance
passenger_count,,,,,,,
0,1.333333,-73.944968,40.714312,-73.979577,40.702373,374.333333,9355.794182
1,1.465381,-73.973788,40.751543,-73.973478,40.752349,898.439483,9359.088372
2,1.564286,-73.974432,40.750633,-73.973648,40.751634,913.695357,9359.013250
3,1.630557,-73.975409,40.751083,-73.973425,40.752608,1035.069702,9359.060626
4,1.623400,-73.974436,40.751180,-73.974868,40.752346,1187.438300,9359.062307
5,1.996029,-73.973560,40.751318,-73.973420,40.751224,1104.511912,9359.068263
6,1.996726,-73.974663,40.752054,-73.973907,40.752848,1044.846890,9359.136764

In [48]:
print("9) Do trip distances increase in weekends?")
print("")

import datetime

y=[]

for index, entry in df.iterrows():
  day=entry["pickup_datetime"]
  y.append( datetime.date(int(day[0:4]), int(day[5:7]), int(day[8:10])).strftime("%A"))
  
df["day"]=y
df.head()

9) Do trip distances increase in weekends?

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,pickup_district,dropoff_district,distance,time_of_day,day
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,"Manhattan, New York","Manhattan, New York",9360.508746,rush hour evening,Monday
1,id0012891,2,2016-03-10 21:45:01,2016-03-10 22:05:26,1,-73.981049,40.744339,-73.973000,40.789989,N,1225,"Long Island City, New York","Manhattan, New York",9358.537508,evening,Thursday
2,id3361153,1,2016-03-11 07:11:23,2016-03-11 07:20:09,1,-73.994560,40.750526,-73.978500,40.756191,N,526,"Weehawken, New Jersey","Manhattan, New York",9359.137888,rush hour morning,Friday
3,id2129090,1,2016-03-14 14:05:39,2016-03-14 14:28:05,1,-73.975090,40.758766,-73.953201,40.765068,N,1346,"Manhattan, New York","Long Island City, New York",9359.700598,afternoon,Monday
4,id0256505,1,2016-03-14 15:04:38,2016-03-14 15:16:13,1,-73.994484,40.745087,-73.998993,40.722710,N,695,"New York City, New York","New York City, New York",9358.684650,afternoon,Monday

In [49]:
print("There are not much change for trip distance in weekends and other days.")

df.groupby(by="day").mean()

There are not much change for trip distance in weekends and other days.

,vendor_id,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration,distance
day,,,,,,,,
Friday,1.535133,1.651101,-73.974310,40.751587,-73.973489,40.752244,989.462604,9359.095539
Monday,1.535581,1.623918,-73.971065,40.752041,-73.972905,40.753249,913.259396,9359.111878
Saturday,1.537106,1.727837,-73.976957,40.749830,-73.975425,40.750321,865.602612,9358.966554
Sunday,1.536029,1.706916,-73.973766,40.749597,-73.972129,40.750895,926.430839,9358.922414
Thursday,1.533391,1.631012,-73.974029,40.752344,-73.973254,40.752870,942.156377,9359.156812
Tuesday,1.539000,1.630678,-73.973070,40.752288,-73.974011,40.753136,904.742334,9359.145669
Wednesday,1.528584,1.619695,-73.973909,40.752207,-73.973239,40.753043,948.206465,9359.144600